<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../Statics/diseño.css">
    <link rel="icon" href="../Statics/fabicoin.jpg" type="image/x-icon">
    <title>Inicio</title>
</head>
<body>
    <form action="../Dynamics/acciones.php" method="post" target="_blank">
        <h1>Inicio de sesión</h1>
        <div>
            <legend>Bienvenid@</legend><br><br>
            <label for="Usuario">Usuario</label>
            <input id="Usuario" type="text" name="Usuario"><br><br>
            <label for="Casa">Casa<br>
                <select id="Casa" name="Casa">
                    <option name="Ajolotes">Ajolotes</option>
                    <option name="Teporingos">Teporingos</option>
                    <option name="Halcones">Halcones</option>
                </select>
            </label><br><br>
            <button>Enviar</button>
        </div>
    </form>
</body>
</html>